 body, a {
  background-color: #3f3d3d;
  color: #ffffff;
  font-size: 1.5rem;
} 

a {
  text-decoration: none;
}

a:hover {
  color: #4EB0AC;
}

.name-skills {
  text-align: left;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background-color: #1c1b1b;
  font-size: 1rem;
}