 body, a {
  background-color: #19a2b5;
  color: #ffffff;
  font-size: 1.5rem;
} 

a {
  text-decoration: none;
}

a:hover {
  color: #db4c0b;
}

.name-skills {
  text-align: left;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  font-size: 1rem;
}
/* colors
#018699 og blue green

 orange venn diagram logo
#eb4e06

#19a2b5 pass large ui comp for both
#db4c0b

#1aa3b6
#dc4c0b

 #2bb9ce
 #ef4f0e
*/